@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', sans-serif;
	scroll-behavior: smooth;
}
body
{
	min-height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(#2b1055,#7597de)
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
header .logo
{
	color: #fff;
  font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
header u1
{
	display: flex;
	justify-content: center;
	align-items: center;
}
header u1 li
{
	list-style: none;
	margin-left: 20px;
	color: #fff;
}
header u1 li a
{
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
}
header u1 a:hover,
header u1 lil a.active
{
	background: #fff;
	color: #2b1055;
}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
section::before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,#1c0522,transparent);
	z-index: 1000;
}
section img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
section img#moon 
{
	mix-blend-mode: screen;
}
section img#mountains_front 
{
	z-index: 10;
}
#text
{
	position: absolute;
	color: #fff;
	white-space: nowrap;
	font-size: 7.5vw;
	z-index: 9;
}
#btn
{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #fff;
	color: #2b1055;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(100px);
}
.sec
{
	position: relative;
	padding: 100px;
	background: #1c0522;
}
.sec p
{
	font-size: 2.1em;
	color: #fff;
}
body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #eee;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}



